# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp.*

# testing
/coverage

# build outputs
.next/
out/
build
dist

# dotenv
.env.*.local
.env

# debug
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

# turbo
.turbo